#title {
    font-family:"Raleway", sans-serif;
    font-size: 50px;
    color:#99e600;
    text-align: center;
    padding-top:30px;
    padding-bottom:15px;
    ;
}

h2 {
    font-family:"Raleway",sans-serif;
    margin-top: 50px;
    margin-bottom:50px;
    text-align:center;
    color:#99e600;
    font-size:30px ;

}
p {
    font-family:"Work Sans", sans-serif;
    color:gray;
    
}
header p {
    text-align:center;
    color:#fab429;
    margin-top: 15px;
    margin-bottom:20px;
    font-size: 110%;
    font-weight: bold;

}


ul
{ 
    display: block;
    list-style: disc outside none;
    margin: 1em 0;
    padding: 0 0 0 40px;
}

li
{
    display: list-item;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right:100px;
    font-family:"Work Sans", sans-serif;
    line-height: 150%;
    color:#416100;
}




#main {
    background-color: #e7fae7;
    display: block;
}

#img-div {
    width:1024px;
    max-width: 100%;
    height:auto;
    margin:50px auto 0px auto;
    padding-top: 62px;
    padding-bottom: 15px;
    display:block;
    background-color:#fae0ab ;
  
}

/* The img element should responsively resize, relative to the width of its parent element, without exceeding its original size. */
/* The img element should be centered within its parent element. */
#image {
    
    max-width: 100%;
    height:auto;
    display: block;
    margin:0px auto 0px auto;
    
} 

#img-caption {
    font-family:"Work Sans", sans-serif;
    color: gray;
    position: relative;
    margin:15px 90px 0px 99px;
}

#tribute-info {
    margin-left:200px;
    margin-right: 200px;
}

#tribute-link {
    text-decoration: none;
    font-weight: bold;
    color:#fab429
    
}

.quote {
    text-align: center;
    margin: 50px 150px 20px 150px;
    line-height: 30px;
    font-size: 150%;
    font-style:italic;
}

main p {
    
    margin-bottom:50px;
    text-align:center;
}

footer {
    text-align: center;
    font-size:20px;
    padding-bottom: 15px;
}